*.sim
*.runs
*.cache
*.hw
*.ip_user_files
*.log
*.jou
.Xil
*.zip
*.pid
*.str
*.debug
*.dcp
*.sdk
*.srcs/**/ip/**/*.vhd
*.srcs/**/ip/**/*.vhdl
*.srcs/**/ip/**/*.veo
*.srcs/**/ip/**/*.vho
*.srcs/**/ip/**/*.xdc
*.srcs/**/ip/**/*.v
*.srcs/**/ip/**/*.sv
*.srcs/**/ip/**/*.vh
*.srcs/**/ip/**/*.txt
*.srcs/**/ip/**/*.xml
*.srcs/**/*.bxml
*.srcs/**/hw_handoff
*.srcs/**/*ooc.xdc
*.srcs/**/sim
*.srcs/**/synth
*.srcs/**/ui
*.srcs/**/ipshared




